html,body {
	height:100%;
}

.content > .navbar-static-top {
	position: fixed;
	width: 100%;
}

.console {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	color: #ddd;
	padding: 0em;
}

.footer {
	background-color: rgb(0, 85, 113);
	width: 100%;
	height: 4em;
	position: fixed;
	display: flex;
	margin-top: .2em;
	bottom: 0;
	align-items : center;
	border-top: solid 3px #fff;
}

.search-btn {
	padding: .6em;
	margin-left: .2em;
	font-weight: bold;
	color: black;
}

.host-option-select-btn {
	padding: .6em;
	margin-left: 1em;
	font-weight: bold;
	color: black;
	max-width: 20em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.time-option-select-btn {
	padding: .6em;
	margin-left: .3em;
	font-weight: bold;
	color: black;
}

.settings-select-btn {
	padding: .6em;
	margin-left: .3em;
	font-weight: bold;
	color: black;
}

.search-box.form-control {
    height: 2.4em;
    margin-left: 1em;
    border: 2px solid #ccc;
    font-size: 16px;
    width: 60em;
}

.search-box.form-control.hint {
	padding-right: 11em;
}

.search-form {
	width: 100%;
}

.events {
	color: #ddd;
	background-color: black;
	padding-left: 1em;
	font-family: monaco,monospace,courier,'courier new','Bitstream Vera Sans Mono';
	font-size: 12px;
	list-style: none;
	list-style-position: outside;
	padding-bottom: 5em;
	padding-top: .5em;
	box-shadow: -4px 0 3px rgba(0,0,0,.2);
}

.host {
	background: #262626;
}

.host a {
	color: #B58900;
}


.host a:hover {
	text-decoration: none;
}

.program {
	background: #262626;
}

.program a {
	color: #258CCD;
}

.program a:hover {
	text-decoration: none;
}

.message {
	color: #B0B0B0;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.flex-container-search {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	width: auto;
}

.host-picker {
	position: fixed;
	background: white;
	border: 4px solid rgb(128,128,128);
	max-width: 50em;
	min-width: 15em;
	height: auto;
	border-radius: 6px;
	bottom: 5.5em;
	padding: 0;
}

.host-picker:after, .host-picker:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.host-picker:after {
	border-color: rgb(128,128,128,0);
	border-top-color: white;
	border-width: 30px;
	margin-left: -30px;
}
.host-picker:before {
	border-color: rgb(128,128,128,0);
	border-top-color: white;
	border-width: 36px;
	margin-left: -36px;
}

.host-picker-list {
	color: #2F4F4F;
	list-style-type: none;
	margin: 0;
	font-size: medium;
	padding: 0;
	max-height: 20em;
	overflow-y: auto;
}

.host-picker-list > li {
	padding: .3em;
	text-align: center;
}

.host-picker-list > li:nth-child(even) {
	background: #F0F0F0;
}

.host-picker-list > li > a {
	text-decoration: underline;
	cursor: pointer;
}

.host-picker-search {
	border: 2px solid #84BACC;
	background: white;
	width: 90%;
}


.date-picker {
	position: fixed;
	background: white;
	border: 4px solid rgb(128,128,128);
	padding: 1em;
	width: 25em;
	height: 7em;
	border-radius: 6px;
	bottom: 5.5em;
}

.date-picker:after, .date-picker:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.date-picker:after {
	border-color: rgb(128,128,128,0);
	border-top-color: white;
	border-width: 30px;
	margin-left: -30px;
}

.date-picker:before {
	border-color: rgb(128,128,128,0);
	border-top-color: white;
	border-width: 36px;
	margin-left: -36px;
}

.date-picker-submit-btn {
	padding: .6em;
	margin-left: .2em;
	font-weight: bold;
	color: black;
	background-color: darkgray;
}

.flex-container-date-picker > .submit:enabled:hover {
	background-color: rgb(204,204,204);
}

.date-picker-box.form-control {
    height: 2.4em;
    margin-left: .2em;
    border: 2px solid #ccc;
    font-size: 16px;
}

.date-picker-message {
	margin-right: .2em;
	text-align: right;
	padding-top: .5em;
	font-family: verdana;
  	font-size: 11px;
	color: #006600;
}

.date-picker-message-error {
	color: #A80000;
}

.date-picker-examples {
	margin-right: .2em;
	color: #0f0f0f;
	padding-top: .1em;
	padding-bottom: .1em;
	font-family: verdana;
    font-size: 10px;
}

.flex-container-date-picker {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
 }

.flex-item-date-picker:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 17.5em;
    -ms-flex: 0 0 14em;
    flex: 0 0 14em;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
 }

.flex-item-date-picker:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
 }

.flex-item-date-picker:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 0 37em;
    -ms-flex: 1 0 37em;
    flex: 1 0 37em;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
 }

.flex-item-date-picker:nth-child(4) {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 2 0 auto;
	-ms-flex: 2 0 auto;
	flex: 2 0 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.settings {
	position: fixed;
	background: white;
	border: 4px solid rgb(128,128,128);
	width: 20em;
	height: auto;
	border-radius: 6px;
	bottom: 5.5em;
	padding: 0;	
	color: black;
	padding: 1em;
}

.settings:after, .settings:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.settings:after {
	border-color: rgb(128,128,128,0);
	border-top-color: white;
	border-width: 30px;
	margin-left: -30px;
}
.settings:before {
	border-color: rgb(128,128,128,0);
	border-top-color: white;
	border-width: 36px;
	margin-left: -36px;
}


.flex-container-settings > .submit:enabled:hover {
	background-color: rgb(204,204,204);
}

.live-tail-button {
	margin-right: 4em;
	text-align: center;
}

.flex-container-settings {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-item-settings:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.flex-item-settings:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding: .3em;
}

.flex-item-settings:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: .5em;
    background-color: darkgray;
}


.hosts-select {
	margin-right: 20em;
}

.btn:enabled:hover {
	color: black;
	background-color: white;
}

.btn:enabled:focus {
	color: black;
}

.tail-status-btn {
	color: black;
	width: 6em;
	text-align: center;
	background: wheat;
}

.tail-status-btn:enabled:hover {
	text-decoration: none;
	color: black;
	background-color: lightgoldenrodyellow;
}

.tail-status-btn:enabled:focus {
	text-decoration: none;
	color: black;
}

.no-event-message {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
  font-size: xx-large;
  font-family: inherit;
}

.no-event-message > .time-range {
	font-size: x-large;
}

.logtrail-error {
	position: fixed;
	width: 97%;
	top: 4em;
}

.highlight {
	background-color: #004899;
}

.lucene-hint {
	position: fixed;
	left: 60em;
}