
<div class="login-content">
    <section class="login-form-wrap">
        <h1 class="login-title">로그 조회</h1>
        <form class="login-form">
            <label>
                <input class="login-input" type="text" required placeholder="아이디" ng-model="id">
            </label>
            <label>
                <input class="login-input" type="password" name="password" required placeholder="Password" ng-model="pw">
            </label>
            <button class="login-btn" ng-click="login()">로그인</button>
        </form>
        <h5 class="login-text"><a href="javascript:;">문의: </a></h5>
    </section>
</div>

